@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

// SASS Root Variable
$logo-font: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
$button-width: 90px;
$spinner-width: $button-width/4;
$blue: #0076d3;
$btn-bg: #8bc34a;
$text-light: #fefefe;

body {
  margin: 0;
  padding: 0;
}

.formContainer {
  margin: 0;
  padding: 0;
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper {
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .logo {
      color: #5d5b8d;
      font-size: 24px;
      font-weight: bold;
      font-family: $logo-font;
    }

    .title {
      color: #5d5b8d;
      font-size: 12px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        padding: 15px;
        width: 250px;
        border: none;
        border-bottom: 1px solid #a7bcff;

        &::placeholder {
          color: rgb(175, 175, 175);
        }
      }

      button {
        background-color: #7b96ec;
        color: white;
        padding: 10px;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }

      label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #8da4f1;
        font-style: 12px;
        cursor: pointer;

        // img {
        //   width: 32px;
        // }

        .avatarContainer {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          object-fit: cover;
        }

        .avatarContainer img {
          width: 100%;
          height: auto;
        }
      }
    }

    p {
      color: #5d5d8d;
      font-style: 12px;
      margin-top: 10px;
    }
  }
}

.home {
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    border: 1px solid white;
    border-radius: 10px;
    width: 65%;
    height: 80%;
    display: flex;
    overflow: hidden;
    @include tablet {
      width: 90%;
    }

    .sidebar {
      flex: 1;
      background-color: #3e3c61;
      position: relative;

      .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #2f2d52;
        height: 50px;
        padding: 10px;
        color: #ddddf7;

        .logo {
          font-weight: bold;
          font-family: $logo-font;
        }

        .user {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;

          img {
            background-color: #ddddf7;
            height: 24px;
            width: 24px;
            border-radius: 50%;
            object-fit: cover;
          }

          button {
            height: 20px;
            background-color: #5f5b8d;
            color: #ddddf7;
            font-size: 12px;
            font-weight: 500;
            border: none;
            cursor: pointer;
            @include tablet {
              position: absolute;
              bottom: 10px;
            }
          }
        }
      }

      .search {
        border-bottom: 1px solid gray;

        .searchForm {
          padding: 10px;

          input {
            background-color: transparent;
            border: none;
            color: white;
            outline: none;

            &::placeholder {
              color: lightgray;
            }
          }
        }
      }

      .userChat {
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: white;
        cursor: pointer;

        &:hover {
          background-color: #2f2d52;
        }

        img {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          object-fit: cover;
        }

        .userChatInfo {
          width: 160px;

          span {
            font-size: 18px;
            font-weight: 500;
          }

          p {
            word-wrap: break-word;
            margin: 0;
            width: 50%;
            font-size: 14px;
            color: lightgray;
          }
        }
      }
    }

    .chat {
      flex: 2;

      .chatInfo {
        height: 50px;
        background-color: #5d5b8d;
        display: flex;
        align-items: center;
        // justify-content: space-between;
        justify-content: center;
        padding: 10px;
        color: lightgray;

        span {
          font-size: 25px;
          font-weight: 600;
        }
      }

      // .chatIcons {
      //   display: flex;
      //   gap: 10px;

      //   img {
      //     height: 24px;
      //     cursor: pointer;
      //   }
      // }

      .messages {
        padding: 10px;
        background-color: #ddddf7;
        height: calc(100% - 160px);
        overflow: scroll;
        scrollbar-width: none;

        .message {
          display: flex;
          gap: 10px;
          margin-bottom: 20px;

          .messageInfo {
            display: flex;
            flex-direction: column;
            color: gray;
            font-weight: 300;

            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }
          }

          .messageContent {
            max-width: 80%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            p {
              width: 50%;
              word-wrap: break-word;
              background-color: white;
              padding: 10px 20px;
              border-radius: 0 10px 10px 10px;
              max-width: max-content;
            }

            img {
              width: 50%;
            }
          }

          &.owner {
            flex-direction: row-reverse;

            .messageContent {
              align-items: flex-end;

              p {
                background-color: #8da4f1;
                color: white;
                border-radius: 10px 0 10px 10px;
              }
            }
          }
        }
      }

      .input {
        height: 50px;
        background-color: white;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .initialRender {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: $logo-font;
          font-weight: 600;
        }

        input {
          outline: none;
          border: none;
          width: 90%;
          color: #2f2d52;
          font-size: 18px;

          &::placeholder {
            color: lightgray;
          }
        }

        .send {
          display: flex;
          align-items: center;
          gap: 10px;

          .fileInputContainer {
            width: 30px;
            height: 30px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            object-fit: cover;
          }

          .fileInputContainer img {
            width: 100%;
            height: auto;
          }

          img {
            height: 30px;
            cursor: pointer;
          }

          // button {
          //   border: none;
          //   padding: 10px 15px;
          //   color: white;
          //   background-color: #8da4f1;
          // border-radius: 4px;
          //   cursor: pointer;
          // }

          .button {
            display: inline-block;
            min-width: $button-width;
            margin: 10px auto;
            background: #8da4f1;
            color: $text-light;
            font-size: 1.2em;
            padding: 0.5em;
            border-radius: 4px;
            text-align: center;
            position: relative;
            cursor: pointer;
            appearance: none;
            -webkit-appearance: none;
            border: 0;
            transition: border-radius linear 0.01s, width linear 0.01s;

            &:focus {
              outline: 0;
            }

            &.animate {
              width: $button-width/2;
              height: $button-width/2;
              min-width: 0;
              border-radius: 50%;
              color: transparent;

              &:after {
                position: absolute;
                content: "";
                width: $spinner-width;
                height: $spinner-width;
                border: 4px solid $text-light;
                border-radius: 50%;
                border-left-color: transparent;
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                animation: spin ease-in 0.1s forwards;
                animation-name: spin;
                -webkit-animation-name: spin;
                transition-timing-function: ease-in-out;
                -webkit-transition-timing-function: ease-in-out;
                animation-duration: 1s;
                -webkit-animation-duration: 1s;
                animation-fill-mode: forwards;
                -webkit-animation-fill-mode: forwards;
              }

              &.success:before {
                position: absolute;
                content: "";
                width: $spinner-width;
                height: $spinner-width/2;
                border: 4px solid $text-light;
                border-right: 0;
                border-top: 0;
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(0);
                transform: translate(-50%, -50%) rotate(0deg) scale(0);
                -webkit-animation: success ease-in 0.1s forwards;
                animation: success ease-in 0.1s forwards;
                animation-delay: 1s;
              }
            }
          }

          @keyframes spin {
            0% {
              transform: translate(-50%, -50%) rotate(0deg) scale(1);
            }
            90% {
              transform: translate(-50%, -50%) rotate(1080deg) scale(1);
            }
            100% {
              transform: scale(0);
            }
          }

          @-webkit-keyframes spin {
            0% {
              -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
            }

            98% {
              -webkit-transform: translate(-50%, -50%) rotate(1080deg) scale(1);
            }

            100% {
              -webkit-transform: translate(-50%, -50%) rotate(1080deg) scale(0);
            }
          }

          @keyframes success {
            from {
              transform: translate(-50%, -50%) rotate(0) scale(0);
            }
            to {
              transform: translate(-50%, -50%) rotate(-45deg) scale(1);
            }
          }

          @-webkit-keyframes success {
            from {
              -webkit-transform: translate(-50%, -50%) rotate(0) scale(0);
            }
            to {
              -webkit-transform: translate(-50%, -50%) rotate(-45deg) scale(1);
            }
          }
        }
      }
    }
  }
}
